footer.footer
  .footer-top
    h2 Subscribe to our Newsletter
    form.newsletter-form(action="#")
      input.newsletter-input(type="email" placeholder="Enter your email here")
      button.newsletter-button(type="submit") Subscribe

  .footer-middle
    p.description A full-service Australian immigration firm with experienced lawyers and years of experience handling complex migration matters for both individuals and organisations.

    .address
      h3 Sydney Office
      p Level 5, 45 Market Street, Sydney NSW 2000, Australia
      h3 Hong Kong Office
      p Level 1, 28 Stanley Street, Central, Hong Kong

  .footer-links
    ul
      li
        a(href="#") Global Talent Scheme
      li
        a(href="#") General Skilled Migration
      li
        a(href="#") Business Innovation & Investment
      li
        a(href="#") Employer Sponsored Visas
      li
        a(href="#") Education
      li
        a(href="#") Family Reunion

  .footer-bottom
    .social-icons
      a(href="#")
        img(src="/static/instagram.png", alt="Instagram")
      a(href="#")
        img(src="/static/facebook.png", alt="Facebook")
      a(href="#")
        img(src="/static/spotify.png", alt="Spotify")
      a(href="#")
        img(src="/static/twitter.png", alt="Twitter")
      a(href="#")
        img(src="/static/youtube.png", alt="YouTube")
    p.copyright © Riverwood Lawyers Pty Limited trading as Riverwood Migration ABN 66 647 729 628
