header.header
  .container
    .logo
      a(href="/")
        img(src="static/logo.png", alt="Riverwood Migration Logo")
        span Riverwood Migration
    nav.nav
      ul.nav-list
        li: a(href="#firm") Discover the firm +
        li: a(href="#migration") Migration +
        li: a(href="#education") Education
        li: a(href="#blog") Blog
        li: a(href="#contact") Contact us
        li: a(href="#consultation") Book a consultation
