extends ../layout/main.pug

block variables
  - var title = 'About Riverwood Migration'
  - var body_class = "about-page"

block content
  section.hero
    .container
      img.hero-image(src="static/Sydney Harbour Bridge.jpg", alt="Sydney Harbour Bridge", class="hero-img")

  section.about-company
    .container
      h2 About the company
      p
        | Riverwood Migration provides bespoke services to skilled professionals, employers, and families. Our goal is to make your migration experience seamless and stress-free.
      p
        | Whether you’re applying for skilled visas or employer-sponsored programs, we are here to assist you.

  section.services
    .container
      h2 Services
      ul.services-list
        li: a(href="#") General Skilled Migration
        li: a(href="#") Employer Nomination Program
        li: a(href="#") Business Innovation & Investment Program
        li: a(href="#") Graduate Temporary Visas
        li: a(href="#") Citizenship & Family Migration

  section.contact
    .container
      .contact-header
        h2 Let’s talk about your immigration to Australia
        p Contact us today to discuss your options and receive expert advice tailored to your needs.
